* {margin:0; padding:0; font-weight:normal;}
strong, b {font-weight:bold;}

html
{
	background-image:url("bg_tile.jpg");
}

body
{
	background:url("redMap1.png") top right no-repeat;
	font-family: Helvetica, Arial, sans-serif;
}

#topBar
{
	background:url("redWhiteStripe.png") bottom left repeat-x;	
	height:8px;
	
}

h1, h2, h3
{
	margin:14px 0px 8px 0px;
}
h1 {font-size:1.5em}
h2 {font-size:1.3em; border-bottom:2px solid black;}
h3 {font-size:1.1em;}
h4
{
	margin:10px 0px 4px 0px;
}

p, ul, dl
{
	margin:8px 16px;
}

ul, ol
{
	list-style-position: inside;
	list-style-type: square;	
}

table p, table ul, table dl
{
	margin:0;
}

#story
{
	background:url("blueMap2.png") top left no-repeat;
	min-height:800px;
}

#story>div:first-child
{
	width:750px; min-height:400px;
	
	font-size:1em;
	line-height:1.4em;
	
	padding:0.2em;
	border:1px solid #7b797a;
	border-radius:4px;
	margin:1em auto;
	
	background-color:rgba(214, 233, 233, 0.6);
}

#story table 
{
	border-collapse:collapse;
	line-height:1.4em;
	margin:1em auto 0.4em auto;
}
#story table td, #story table th
{
	border:1px solid #7b797a;
	padding:4px;
	text-align:center;
}
#story table th {background:#7b797a; color:white;}

#story table tr
{
	background-color:white;
}

#story table tr:nth-child(2n)
{
	background-color:#f8f8f8;
}



#sidebar
{
	position:fixed;
	height:100%;
	
	bottom:5px;
	right:0px;
	width:237px;
	
	margin:0px;
}
#controls 
{
	/*clear:right;*/
	height:100%;
	overflow:auto;
	padding:8px;
	border-top:1px solid #B2CDCD;
	border-bottom:1px solid #B2CDCD;
	border-left:1px solid #B2CDCD;
	border-radius: 2px;
	background:rgba(255,255,255,0.4);
}

#adventures
{
	float:right;
	
	border-top:1px solid #B2CDCD;
	border-bottom:1px solid #B2CDCD;
	border-left:1px solid #B2CDCD;
	border-radius: 2px;
	background:rgba(255,255,255,0.4);
	
	width:220px;
	
	padding:8px;
}

#adventures>p {margin:2px;}


span.d20
{
	background:url("../images/d20.png") center center no-repeat;
	width:28px; height:24px; display:inline-block;
	text-align:center;
	padding-top:4px;
	
	cursor:help;
}

span.d4
{
	background:url("../images/d4.png") center center no-repeat;
	width:28px; height:24px; display:inline-block;
	text-align:center;
	padding-top:4px;
	
	cursor:help;
}

span.d6
{
	background:url("../images/d6.png") center center no-repeat;
	width:28px; height:24px; display:inline-block;
	text-align:center;
	padding-top:4px;
	
	cursor:help;
}


span.d8
{
	background:url("../images/d8.png") center center no-repeat;
	width:28px; height:24px; display:inline-block;
	text-align:center;
	padding-top:4px;
	
	cursor:help;
}

span.d10
{
	background:url("../images/d10.png") center center no-repeat;
	width:28px; height:24px; display:inline-block;
	text-align:center;
	padding-top:4px;
	
	cursor:help;
}

span.d12
{
	background:url("../images/d12.png") center center no-repeat;
	width:28px; height:24px; display:inline-block;
	text-align:center;
	padding-top:4px;
	
	cursor:help;
}

span.d100
{
	background:url("../images/d100.png") center center no-repeat;
	width:28px; height:24px; display:inline-block;
	text-align:center;
	padding-top:4px;
	
	cursor:help;
}